.separation{
    margin-top: 3rem;
    border-top: 1px solid var(--input-placeholder);
}

.terms-wrapper{
    margin-top: 3rem;
    display: flex;
    gap: .75rem;
    align-items: flex-start;

    & strong{
        font-weight: 500;
        color: var(--brand-dark);
        text-decoration: underline;
    }
}

.checkbox-wrapper{
    position: relative;

    & [type="checkbox"]{
        all: unset;
        position: absolute;
        inset: 0;
    }
    .checkbox-image{
        flex: 0 0 1.5rem;
        height: 1.5rem;

        background-image: url(../../assets/frame.svg);
        background-repeat: no-repeat;
    }

    &:has(:checked){
        .checkbox-image{
            background-image: url(../../assets/fram-checked-2.svg);
            background-repeat: no-repeat;
        }
    }

}

.wrapper{
    display: flex;
    gap: .75rem;
}