#app{
    display: grid;
    grid-template-columns: 32.79% 67.21%;

    height: 100vh;
    overflow: hidden;
}

main{
    overflow: auto;
    padding-top: 4rem;
    border-radius: 1rem;

    & .main-containner{
        display: flex;
        border-radius: 1rem;
        background-color: var(--shape-body);
        max-width: 51.25rem;
        justify-content: center;

        & .forms{
            width: 35rem;
            padding-top: 5rem;
            & h1{
                font: var(--heading-md);
            }
        }
    }
}
aside{
    position: relative;
    padding: 4rem;
    & div{
        position: absolute;
        width: 25rem;
        height: 45.5rem;
        border-radius: 1rem;
        background-image: url(../assets/Background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    & h1{
        font-family: var(--font-family-logo);
        color: var(--pink);

    }
}
